<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
">


    <bean id="io" class="com.example.flooringMastery.view.UserIO"/>
    <bean id="view" class="com.example.flooringMastery.view.FlooringView">
        <constructor-arg ref="io"/>
    </bean>
    <bean id="orderDAO" class="com.example.flooringMastery.DAO.OrderDAO"/>
    <bean id="productDAO" class="com.example.flooringMastery.DAO.ProductDAO"/>
    <bean id="stateTaxDAO" class="com.example.flooringMastery.DAO.StateTaxDAO"/>
    <bean id="service" class="com.example.flooringMastery.service.FlooringService">

    </bean>
    <bean id="controller" class="com.example.flooringMastery.controller.FlooringController">
        <constructor-arg ref="view"/>
        <constructor-arg ref="service"/>
    </bean>

</beans>